
<div class="container p-3">
  <h2 class="text-center">{{title}}</h2>
  <div class="request col-lg-8 offset-lg-2 col-12 p-2">
    <form [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm)">
      <mat-form-field appearance="fill">
        <mat-label>Количество километров</mat-label>
        <input matInput [formControlName]="'distance'" type="number" min="0" required>
        <mat-error *ngIf="requestForm.get('distance').invalid">
          <span translate>Пожалуйста, заполните поле</span>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Возраст</mat-label>
        <input matInput [formControlName]="'age'" type="number" min="0" required>
        <mat-error *ngIf="requestForm.get('age').invalid">
          <span translate>Пожалуйста, заполните поле</span>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Вес багажа, кг</mat-label>
        <input matInput [formControlName]="'baggage'" type="number" min="0" required>
        <mat-error *ngIf="requestForm.get('baggage').invalid">
          <span translate>Пожалуйста, заполните поле</span>
        </mat-error>
      </mat-form-field>
      <br>

      <div class="w-100 justify-content-end">
        <button mat-raised-button color="primary" type="submit">
          Рассчитать
        </button>
      </div>
    </form>

  </div>


  <div *ngIf="offer">
    <mat-divider></mat-divider>
    <div class="result col-lg-8 offset-lg-2 col-12 p-2">
      <h4 class="my-3 text-center">Предложения</h4>

      <div *ngFor="let element of total_array; let i = index">
        <table class="table table-hover">
          <thead>
            <tr class="table-primary">
              <th colspan="2" *ngIf = 'i == 0'>Аэрофлот</th>
              <th colspan="2" *ngIf = 'i == 1'>РЖД</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf = 'element.econom != null'>
              <td>Эконом</td>
              <td>{{element.econom | number : '.0-2'}}</td>
            </tr>
            <tr *ngIf = 'element.premium != null'>
              <td>Продвинутый</td>
              <td>{{element.premium | number : '.0-2'}}</td>
            </tr>
            <tr *ngIf = 'element.lux != null'>
              <td>Люкс</td>
              <td>{{element.lux | number : '.0-2'}}</td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>

  </div>

</div>